<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ //
  ~ // Copyright (C) 2009 Boutros-Labs(German cancer research center) b110-it@dkfz.de
  ~ //
  ~ //
  ~ //    This program is free software: you can redistribute it and/or modify
  ~ //    it under the terms of the GNU General Public License as published by
  ~ //    the Free Software Foundation, either version 3 of the License, or
  ~ //    (at your option) any later version.
  ~ //
  ~ //    This program is distributed in the hope that it will be useful,
  ~ //    but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ //    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ //
  ~ //    You should have received a copy of the GNU General Public License
  ~ //    along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!--get rid of jsessionids or google crawler will register a invalid jsessionid which will bring the webapp to a halt-->
    <!--<filter>-->
           <!--<filter-name>UrlRewriteFilter</filter-name>-->
           <!--<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>-->
       <!--</filter>-->
       <!--<filter-mapping>-->
           <!--<filter-name>UrlRewriteFilter</filter-name>-->
           <!--<url-pattern>/*</url-pattern>-->
           <!--<dispatcher>REQUEST</dispatcher>-->
           <!--<dispatcher>FORWARD</dispatcher>-->
       <!--</filter-mapping>-->
     
    
    <display-name>cellHTS2-java WebTool</display-name>
    <context-param>
        <!-- The only significant configuration for Tapestry 5, this informs Tapestry
of where to look for pages, components and mixins. -->
        <param-name>tapestry.app-package</param-name>
        <param-value>cellHTS</param-value>
    </context-param>

    <context-param>
        <!-- we need to do the following because tapestry.js will otherwise be missing in some scripts -->
        <param-name>tapestry.combine-scripts</param-name>
        <param-value>false</param-value>
    </context-param>

    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>    
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
      
